*,
*::before,
*::after {
  box-sizing: border-box;
}

/*Navbar*/

@media (max-width: 991.98px) { /* Para pantallas menores a 'md' */
    
    .navbar-collapse.show {
      background-color: black; /* Fondo negro solo cuando el menú está desplegado */
      transition: background-color 0.3s ease-in-out; /* Transición suave (opcional) */
    }
    .navbar-collapse.show .nav-link {
        color: white !important; /* Cambia el color de las letras a blanco */
        transition: color 0.3s ease-in-out; /* Transición suave del color de texto */
      }
  
  }

        /* bg: Nuestros Productos */
        .gradient-bg {
            background: linear-gradient(to bottom, rgb(178, 167, 167), rgb(156, 147, 147));
        }
       
        

        /*PRODUCT CARDS*/

        .card {
          display: flex;
          flex-direction: column;
          height: 100%;
          overflow: hidden;
      }
      
      .card-body {
          flex-grow: 1;
      }
      
      .card-img-right {
          max-width: 100%;
          max-height: 100%;
          height: auto;
          object-fit:cover;
      }
      
      /*PROXIMOS GADGETS*/


      .btn-proximos {
        background: linear-gradient(135deg, #ff9800, #ff5722);
        color: white;
        font-weight: bold;
        padding: 12px 24px;
        border-radius: 50px;
        border: none;
        text-decoration: none;
        transition: all 0.3s ease-in-out;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }
    
    .btn-proximos:hover {
        background: linear-gradient(135deg, #ff5722, #ff9800);
        transform: scale(1.1);
        box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
    }
    
      
    

/* FOOTER */

.footer-bottom {
  background-color: #f8f9fa;
  padding: 30px 20px;
  text-align: center;
}
.footer-title {
  font-weight: bold;
  color: #212529; /* Negro para los títulos */
}
.footer-link {
  text-decoration: none; /* QUITA el subrayado */	
  color: inherit; /*Elimina el color de los enlaces*/
}
.footer-link:hover {
  text-decoration: underline;
}      

